<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <load href="__PUBLIC__/Css/common.css" />
    <load href="__PUBLIC__/Css/person.css" />
</head>

<body>
    <!-- 头部的搜索框开始 -->
    <div id="head">
        <a href="__APP__/Home/Index/index"><img src="__PUBLIC__/Images/house.png" alt="主页" id="house" /></a>
        <p id="person-center">个人中心</p>
    </div>
    <!-- 头部的搜索框结束 -->

    <!-- 轮播图的开始 -->
    <div id="nav">
        <img src="__PUBLIC__/Images/one.jpg" width="100%" height="100%" />
    </div>
    <!-- 轮播图的结束 -->

    <!-- 类似于选项卡的东西的开始 -->
    <table class="choice">
        <tr>
            <td class="choicebtn">
                <a href="__APP__/Home/User/ShowUserInfo"><img src="__PUBLIC__/Images/shopping.png" alt="" /></a>
                <p>个人信息</p>
            </td>
            <td class="choicebtn">
                <a href="__APP__/Home/Conllect/ShowConllect"><img src="__PUBLIC__/Images/shopping.png" alt="" /></a>
                <p>我的收藏</p>
            </td>
            <td class="choicebtn">
                <a href="__APP__/Home/Comment/UserComment"><img src="__PUBLIC__/Images/shopping.png" alt="" /></a>
                <p>我的评论</p>
            </td>
        </tr>
    </table>
    <!-- 类似于选项卡的东西的结束-->

    <!-- 这里是我的收藏的部分 -->
    <ul id="collect" class="choice-box">
        <foreach name='Conllect' item='vo'>
            <li>
                <h5>编号：
                    <{$vo.a_num}>
                </h5>
                <hr/>
                <a href="__APP__/Home/ApplianceInfo/ApplianceInfo/a_id/<{$vo.a_id}>/a_name/<{$vo.a_name}>/a_photo/'__PUBLIC__/Images/book.jpg'/l_name/计算机应用技术协会/a_num/XX55-3"><img src="__PUBLIC__/Upload/<{$vo['a_photo']}>" /></a>
                <div>
                    <P>
                        <span class="name">仪器名称</span>
                        <span class="value"><{$vo.a_name}></span>
                    </P>
                    <p class="laboratoryKind">
                        <span class="name">所属实验室</span>
                        <span class="value"><{$vo.l_name}></span>
                    </p>
                </div>
            </li>
        </foreach>
    </ul>

    <!--  这里是页脚里面的部分的开始 -->
    <div style="width:100%;height:3rem;"></div>
    <table id="footer" class="choice">
        <tr>
            <td>
                <a href="__APP__/Home/Index/index">
                    <img src="__PUBLIC__/Images/book.png" alt="" style="background-color: #CCFF00;" />
                    <p>首页</p>
                </a>
            </td>
            <td>
                <a href="__APP__/Home/OrderForm/ViewOrderForm">
                    <img src="__PUBLIC__/Images/book.png" alt="" style="background-color: #FF6666;" />
                    <p>订单</p>
                </a>
            </td>
            <td>
                <a href="__APP__/Home/Person/Person">
                    <img src="__PUBLIC__/Images/book.png" alt="" style="background-color: #009999;" />
                    <p>我的</p>
                </a>
            </td>
        </tr>
    </table>
    <!--  这里是页脚里面的部分的结束 -->
</body>

</html>