<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css//css/public.css">
    <title>Document</title>
</head>

<body>
    <table class="table">
        <tr>
            <td class="th" colspan="10">订单列表</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>用户名</td>
            <td>仪器编号</td>
            <td>指导教师</td>
            <td>审核状态</td>
            <td>操作</td>
        </tr>

        <foreach name="approvaledData" item="vo">
            <tr>
                <td>
                    <{$vo.o_id}>
                </td>
                <td>
                    <{$vo.u_id}>
                </td>
                <td>
                    <{$vo.a_id}>
                </td>
                <td>
                    <{$vo.o_teacher}>
                </td>
                <td>
                    <?php
                    switch((int)$vo['o_state']){
                        case 0:
                            echo '已完成';
                            break;
                        case 1:
                            echo '使用中';
                            break;
                        case 2:
                            echo '待审批';
                            break;
                        case 3:
                            echo '已拒绝';
                            break;
                    }
                    ?>
                </td>
                <td>
                    [<a href="<{:U('approval',array('o_id'=>$vo['o_id'],'o_state'=>2))}>">重置状态</a>]
                </td>
            </tr>
        </foreach>
    </table>
</body>

</html>